.copybutton {
  padding: 10px 30px;
  display: flex;
  text-align: center;

  font-size: 1.1rem;
  font-weight: 300;
  color: #2c304b;

  background-color: #7d8eff;
  border: 2px solid #2c304b;
  border-radius: 20px;
}

.copybutton:hover {
  background-color: #7083ff;
  padding: 11px 31px;
}
