html {
  box-sizing: border-box;
  text-decoration: none;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}
