.headernav {
  background-color: #ffc43a;
  color: #8e0000;
  border-bottom: 2px solid #8e0000;

  padding: 40px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
}

.link {
  font-weight: 600;
  padding: 10px;
  color: #8e0000;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
}
