.actives {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 500px;
}

@media (max-width: 500px) {
  .actives {
    justify-content: center;
    flex-direction: column;
  }

  .vline {
    border-left: 0;
    margin-top: 0;
  }
}

.spectators {
  flex-grow: 1;
}

.players {
  display: flex;
  flex-grow: 7;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.right {
  display: flex;
  flex-grow: 7;
  flex-direction: column;
  flex-wrap: wrap;
}

.notesWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.player {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 260px;

  background-color: #ffc43a;
  border: 3px solid #8e0000;
  color: #8e0000;

  border-radius: 10px;
  padding: 10px;
  margin: 30px 50px;
}

.you {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 260px;
  color: #2c304b;
  background-color: #7d8eff;
  border: 3px solid #2c304b;
  border-radius: 10px;
  padding: 10px;
  margin: 30px 50px;
}

.vline {
  border: none;
  border-left: 3px solid #8e0000;
}

.playernotes {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5px;
  width: 17vw;
  text-align: center;
  background-color: #7d8eff;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 300;
  color: #2c304b;
}

.addbutton {
  background-color: #ffc43a;
  border-radius: 35px;
  text-align: center;

  color: #8e0000;
  border: 3px solid #8e0000;
  font-size: 1.3rem;
  margin-left: 10px;
}

.addbutton:hover {
  background-color: #7d8eff;
  border: 3px solid #2c304b;
  color: #2c304b;
}

.playerguess {
  width: 200px;
  margin: 10px 0;
  text-align: center;
  background-color: inherit;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 300;
  color: inherit;
}

.playername {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  margin: 10px 0;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: inherit;

  word-break: break-all;
}

.playerphoto {
  width: 200px;
  height: 250px;
}
